[Unit]
Description=Bonta Multiworld Service
After=multi-user.target

[Service]
User=alttprbot
Group=alttprbot
Type=idle
WorkingDirectory=/opt/BontaHostService
ExecStart=/opt/BontaHostService/env/bin/python BontaHostService.py
EnvironmentFile=/opt/BontaHostService/.env
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
